<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MailId" value="suraj2.kumar@lntinfotech.com" />
    <add key="Password" value="14March96kr#" />
    <add key="Apikey" value="2cd87eaba483c4ef3bf24b5f425b3f049de73e03061d045e580798aa7329d4ad" />
  </appSettings>
</configuration>